<div class="block">
  <h4>Learn more about recycling in Chicago</h4>

  <p>
    <a href='http://www.redeyechicago.com/news/local/redeye-recycling-chicago-apartment-buildings-20140922,0,7026155.story' target='_blank'>
      When it comes to multi-unit buildings, Chicago's recycling program falls flat
    </a>
    <br>
    <span class='quiet'>
      <span class='no-break'>by Rachel Cromidas</span>
      | <span class='no-break'>RedEye</span>
      | <span class='no-break'>September 22, 2014</span>
    </span>
  </p>

  <p>
    <a href='http://www.chicagoreader.com/chicago/chicago-recycling-blue-carts-service/Content?oid=2135422' target='_blank'>Why Can&#039;t Chicago Recycle?</a>
    <br>
    <span class='quiet'>
      <span class='no-break'>by Mick Dumke</span>
      | <span class='no-break'>The Chicago Reader</span>
      | <span class='no-break'>July 22, 2010</span>
    </span>
  </p>

  <p>
    <a href='https://www.cityofchicago.org/dam/city/depts/doe/general/RecyclingAndWasteMgmt_PDFs/MultiUnit/FactSheet_WhatCanResidentDo.pdf' target='_blank'>The City of Chicago&#039;s Mult-Unit Recycling Toolkit</a>
    <br><span class="quiet">A fact sheet developed by the city of Chicago to guide tenants in starting recycling programs in their buildings.</span>
  </p>

  <p>
    <a href='http://www.chicagorecycling.org' target='_blank'>The Chicago Recycling Coalition</a>
    <br><span class="quiet">Advocacy group that promotes waste reduction, reuse, recycling, and composting.</span>
  </p>
</div>
