<div class="block">
  <h3>Press</h3>

  <p>
    <a target="_blank" href="http://chicagoist.com/2015/06/17/alderman_proposes_canceling_citys_f.php">
        Alderman Proposes Canceling Free Trash Pickup to Apartment Buildings
    </a>
    <br>
    <span class="quiet">by Rachel Cromidas in <strong>Chicagoist</strong> | June 17, 2015</span>
</p>
<p>
    <a target="_blank" href="http://www.chicagotribune.com/business/ct-confidential-recycling-shaming-0426-biz-20150424-column.html">
        Website Targets Chicago Landlords, Condos Skirting Recycling Law
    </a>
    <br>
    <span class="quiet">by Melissa Harris in the <strong>Chicago Tribune</strong> | April 24, 2015</span>
</p>
<p>
    <a target="_blank" href="http://www.dnainfo.com/chicago/20150420/downtown/big-apartment-buildings-not-recyling-city-doesnt-really-care-report">
        Big Apartment Buildings Not Recycling and City Doesn’t Really Care 
    </a>
    <br>
    <span class="quiet">by Jen Sabella in <strong>DNAinfo Chicago</strong> | April 20, 2015</span>
</p>
<p>
    <a target="_blank" href="http://www.wbez.org/series/curious-city/why-apartments-are-blind-spot-chicagos-recycling-program-111883">
        Why Apartments are the Blind Spot in Chicago’s Recycling Program
    </a>
    <br>
    <span class="quiet">by Chris Bentley in <strong>WBEZ Curious City</strong> | April 15, 2015</span>
</p>
<a href="/press" class="btn btn-primary">More Press</a>
</div>