<div class="block">
  <h3>Press</h3>

  <p>
    <a target="_blank" href="https://soundcloud.com/techshift/website-holds-building-owners-accountable-on-recycling">
      Website Holds Building Owners Accountable on Recycling (Audio)      
    </a>
    <br>
    <span class="quiet">Claire Micklin interviewed by Justin Kaufmann on <strong>WBEZ</strong> Afternoon Shift 
    | February 2, 2015</span>
  </p>

  <p>
    <a target="_blank" href="http://www.mikenowak.net/podcasts/?p=episode&name=2015-02-01_2015-02-01_2015-01-31_claire_micklin.mp3">
      My Building Doesn't Recycle: An Interview with App Creator Claire Micklin (Audio)      
    </a>
    <br>
    <span class="quiet">Claire Micklin interviewed by Mike Nowak on <strong>The Mike Nowak Show</strong> 
    | February 1, 2015</span>
  </p>

  <p>
    <a target="_blank" href="http://www.dnainfo.com/chicago/20150130/river-north/website-wants-know-if-your-apartment-building-doesnt-have-recycling">
      Does Your Apartment Have Recycling? If Not, It's Illegal
    </a>
    <br>
    <span class="quiet">by Tanveer Ali in <strong>DNAinfo Chicago</strong>
    | January 30, 2015</span>
  </p>

</div>