        <footer id='colophon' class="well">
            <p>This app was created by <a href="http://clairemicklin.com">Claire Micklin</a>, <a href="http://bwilhelm.com">Ben Wilhelm</a>, and <a href="https://githug.com/alexkahn">Alex Kahn</a> at <a href="http://opengovhacknight.org/">Open Government Hack Night</a>, a project of <a href="http://opencityapps.org/">Open City</a>.</p>
            <p>Copyright &copy; 2014-<%= currentYear %> Claire Micklin, Ben Wilhelm, and Alex Kahn</p>
        </footer>

