        <footer id='colophon' class="well">
            <p>
              This app was created by 
              <a target='_blank' href="http://clairemicklin.com">Claire Micklin</a>, 
              <a target='_blank' href="http://benwilhelm.com">Ben Wilhelm</a>, and 
              <a target='_blank' href="https://github.com/alexkahn">Alex Kahn</a> at 
              <a target='_blank' href="http://opengovhacknight.org/">Chi Hack Night</a>, 
              a project of <a target='_blank' href="http://opencityapps.org/">Open City</a>.</p>
            <p>Copyright &copy; 2014-<%= currentYear %> Claire Micklin, Ben Wilhelm, and Alex Kahn</p>
            <a href="https://github.com/open-city/recycling" class="btn btn-default btn-xs"><i class="fa fa-github"></i> Fork us on Github</a>
        </footer>

