        <footer id='colophon' class="well">
            <p>This app was created by Claire Micklin, Ben Wilhelm, and Alex Kahn at Open Government Hack Night, a project of Open City.</p>
            <p>Copyright &copy; 2014-<%= currentYear %> Claire Micklin, Ben Wilhelm, and Alex Kahn</p>
        </footer>

