    </div>

        <footer class="well">
            <p>This app was created by Claire Micklin, Ben Wilhelm, and Alex Kahn at Open Government Hack Night, a project of Open City.</p>
            <p>Copyright &copy; 2015 Claire Micklin, Ben Wilhelm, and Alex Kahn</p>
        </footer>


    <script> var WIMR = {}; // application namespace</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/leaflet.js"></script>
    <script src="/js/ejs_production.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/jquery/jquery.loading.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/dialog.js"></script>
    <% for (var i=0; i<tplFiles.length; i++) { %>
      <% var tplFile = tplFiles[i] %>
      <script src='/js/view_handlers/<%= tplFile %>'></script>
    <% } %>
    <script src="/js/app.js"></script>

  </body>
</html>
