<div class="side-content" id="infoContent" tabindex="-1" role="dialog" aria-labelledby="infoContent" aria-hidden="true">
  <div>
    <div>
      <div data-bind="text: infoMessage">
      </div>
    </div>
  </div>
</div>
