<div>
  <h4>Join our mailing list!</h4>
  <ul>
    <li>Just updates, no spam.</li>
    <li>We don't sell email addresses, or anything really.</li>
  </ul>
  <form id='email_form' method='post' action='/contacts.json' class='form-inline'>
    <div class="form-group">
      <input placeholder='Email Address' id='email_address' name='email_address' type="email" class="form-control">
      <input class='btn btn-default' type='submit' value='Send' />
    </div>
    <p class='response'></p>
  </form>
</div>
