<div class="side-content" id="searchForm" tabindex="-1" role="dialog" aria-labelledby="searchFormLabel" aria-hidden="true">
  <div>
    <div>
      <form role="form" id="searchForm">
        <div>
          <h2 id="searchFormLabel">No recycling in your building?</h2>
          <h3>Report it!</h3>
        </div>
        <div>
          <h4>Search for your building</h4>
          <div class="form-group">
            <label for="inputAddress">Enter your Chicago street address:</label>
            <input data-bind="value:address" type="text" class="form-control" id="inputAddress" placeholder="Address" />
          </div>
        </div>
        <div>
          <input type="submit" value="Find my building" class="btn btn-primary" data-bind='click:search'>
        </div>
      </form>
    </div>
  </div>
</div>

