<div class="side-content" id="searchResultsForm" tabindex="-1" role="dialog" aria-labelledby="searchResultsFormLabel" aria-hidden="true">
  <div>
    <div>
      <div>
        <p id="searchResultsFormLabel" data-bind="text: buildingsFoundMessage"></p>
      </div>
      <div>
        <ul data-bind="foreach: possibleAddresses">
          <li>
          <a class="clickable" data-bind="text: formatted_address, click: $parent.selectAddress"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
