<div class="side-content" id="getOnMapForm" tabindex="-1" role="dialog" aria-labelledby="myFormLabel" aria-hidden="true">
  <div>
    <div>
      <form role="form" id="getOnMapForm">
        <div>
          <h4 id="myFormLabel">Get On the Map</h4>
        </div>
        <div>
          <div class="form-group">
            <span data-bind="text: selectedAddress().street"></span>
          </div>
          <div class="form-group">
            <label for="recyclingAvailable">Do you have recycling?</label>
            <select id="recyclingAvailable" class="form-control"
              data-bind="options:$root.recyclingOptions,
              optionsValue: 'intVal',
              optionsText: 'label',
              value: recyclingAvailable">
            </select>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-default" data-bind="click:startSearch">Search Again</button>
          <input type="submit" value="Get On the Map" class="btn btn-primary" data-bind='click:save'>
        </div>
      </form>
    </div>
  </div>
</div>
