<div class="side-content" id="getOnMapFirst" tabindex="-1" role="dialog" aria-labelledby="getOnMapFirstForm" aria-hidden="true">
  <div>
    <div>
      <form role="form" id="getOnMapFirstForm">
        <div class="row">
          <h4 class="col-md-6" id="myFormLabel">No reports for</h4>
          <p class="col-md-6" data-bind="text: selectedAddress().street"></p>
        </div>
        <div>
          <div class="form-group">
            <span>Be the first to report NO recycling in your building</span>
          </div>
        </div>
        <div>
          <input type="submit" value="Report my building!" class="btn btn-primary" data-bind='click:save'>
        </div>
      </form>
    </div>
  </div>
</div>
