<div class="side-content" id="getOnMap" tabindex="-1" role="dialog" aria-labelledby="getOnMapForm" aria-hidden="true">
  <div>
    <div>
      <form role="form" id="getOnMapForm">
        <div class="row">
          <p class="col-md-6" data-bind="text: selectedAddress().formatted_address"></p>
          <h4 class="col-md-6" id="myFormLabel">does not recycle!</h4>
        </div>
        <div>
          <div class="form-group">
            <p data-bind="text: reportCountForLocation()"></p>
            <p>people report NO recycling</p>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label'>Comment (optional)</label>
          <textarea data-bind="value:comment" class='form-control' name='comment' id='comment'></textarea>
        </div>
        <input type="submit" value="I agree!" class="btn btn-primary" data-bind='click:save'>
      </form>
    </div>
  </div>
</div>
