<% include _header %>
<div class="container">
  <div class="row">
    <div id='static_page_main' class='col-sm-8'>
      
      <h2>What is this site for and who made it?</h2>
      <p><em>My Building Doesn’t Recycle!</em> is a web app that allows multi-unit renters (renters in buildings with 5 or more units) to report that they do not have recycling in their building. This site was created by <a href='http://clairemicklin.com' target='_blank'>Claire Micklin</a>, <a href='https://github.com/benwilhelm' target='_blank'>Ben Wilhelm</a>, and <a href='https://github.com/alexkahn' target='_blank'>Alex Kahn</a> at <a href='http://opengovhacknight.org/' target='_blank'>Open Government Hack Night</a>.</p>
       
      <h2>Why do we need this site?</h2>
      <p>In 1994, the city of Chicago passed the <a target='_blank' href='https://docs.google.com/document/d/1WiQrL8nlmBOdywuFgqFrPDokTRhIdFifeo-oCuLIcxc/edit?usp=sharing'>Chicago High Density Residential and Commercial Source Reduction and Recycling Ordinance</a>, commonly known as the Burke-Hansen ordinance, that stated that multi-unit/high-density residents must have adequate access to refuse and recycling disposal. With the completion rollout of the city of Chicago&#039;s Blue Cart program in early 2014, people who live in single-family homes and apartment buildings with 4 or fewer units now do have access to recycling services. Yet, there is still no equivalent service for multi-unit (5+ unit) buildings.</p>
       
      <p>In order to provide recycling services to tenants, landlords in multiunit buildings must contract with a private recycling hauler, and it costs extra money on top of the solid waste disposal fees they already pay. Since the multi-unit recycling ordinance is not enforced, most multiunit landlords opt not to provide recycling services to their tenants. And since the city does not enforce the Burke-Hansen law, there is no channel for multi-unit dwellers to report a lack of recycling services in their building. Thus, it is very hard to determine how much recycling <em>isn&#039;t</em> happening.</p>
       
      <h2>What will you do with the data?</h2>
      <p>The data will help us to visualize reports of recycling noncompliance and provide a hub for residents of multi-unit buildings and other Chicago residents to have a collective voice in favor of more comprehensive recycling services. Once there are a significant number of reports our group can begin to use these reports to show elected officials a rough estimate of how many multi-unit buildings are not providing recycling services. Our group plans to use the visualizations as a tool for advocacy and to push for the strengthening and enforcement of the Burke-Hansen Ordinance.</p>
       
      <h2>How can I help?</h2>
       
      <p>You can report your building if it does not have recycling.</p>
      <p><a href='/' class='btn btn-primary'>Report your building</a></p>
      
        
    </div>

    <div id="static_page_sidebar" class="col-sm-4">
      <% include _mailinglist %>
      
      <h4>Learn more about recycling in Chicago</h4>
      
      <p>
        <a href='http://www.redeyechicago.com/news/local/redeye-recycling-chicago-apartment-buildings-20140922,0,7026155.story' target='_blank'>
          When it comes to multi-unit buildings, Chicago's recycling program falls flat
        </a>
        <br>
        <span class='quiet'>
          <span class='no-break'>by Rachel Cromidas</span> 
          | <span class='no-break'>RedEye</span> 
          | <span class='no-break'>September 22, 2014</span>
        </span>
      </p>

      <p>
        <a href='http://www.chicagoreader.com/chicago/chicago-recycling-blue-carts-service/Content?oid=2135422' target='_blank'>Why Can&#039;t Chicago Recycle?</a>
        <br>
        <span class='quiet'>
          <span class='no-break'>by Mick Dumke</span> 
          | <span class='no-break'>The Chicago Reader</span> 
          | <span class='no-break'>July 22, 2010</span>
        </span>
      </p>
      
      <p>
        <a href='http://www.cityofchicago.org/city/en/depts/streets/supp_info/recycling1/recycling_multi-unitresidentialbuildings.html' target='_blank'>The City of Chicago&#039;s Mult-Unit Recycling Toolkit</a>
        <br><span class="quiet">A toolkit developed by the city of Chicago to guide tenants in starting recycling programs in their buildings.</span>
      </p>
      
      <p>
        <a href='http://www.chicagorecycling.org/index.htm' target='_blank'>The Chicago Recycling Coalition</a>
        <br><span class="quiet">Advocacy group that promotes waste reduction, reuse, recycling, and composting.</span>
      </p>
      
    </div>
  </div>
</div>
<% include _footer %>