<% include _header %>
<div class="container">
  <div class="row">
    <div id='static_page_main' class='col-sm-8'>
      <h2>What is this site for and who made it?</h2>
      <p><em>My Building Doesn’t Recycle!</em> is a web app that allows multi-unit renters (renters in buildings with 5 or more units) to report that they do not have recycling in their building. This site was created by <a href='http://clairemicklin.com' target='_blank'>Claire Micklin</a>, <a href='http://benwilhelm.com' target='_blank'>Ben Wilhelm</a>, and <a href='https://github.com/alexkahn' target='_blank'>Alex Kahn</a> at <a href='http://opengovhacknight.org/' target='_blank'>Open Government Hack Night</a>.</p>

      <p>Upgraded Mapbox and Google API licenses were generously donated by <a href='http://www.smartchicagocollaborative.org/' target='_blank'>Smart Chicago Collaborative</a>. The Smart Chicago Collaborative offers <a href='http://www.smartchicagocollaborative.org/work/ecosystem/developer-resources/' target='_blank'>free developer resources</a> for qualifying civic innovation projects.</p>

      <h2>Why do we need this site?</h2>
      <p>In 1994, the city of Chicago passed the <a target='_blank' href='http://www.amlegal.com/nxt/gateway.dll/Illinois/chicago_il/title11utilitiesandenvironmentalprotecti/chapter11-5reductionandrecyclingprogram?f=templates$fn=default.htm$3.0$vid=amlegal:chicago_il$anc=JD_11-5-021'>Chicago High Density Residential and Commercial Source Reduction and Recycling Ordinance</a>, commonly known as the Burke-Hansen ordinance, that stated that multi-unit/high-density residents must have adequate access to refuse and recycling disposal. With the completion rollout of the city of Chicago&#039;s Blue Cart program in early 2014, people who live in single-family homes and apartment buildings with 4 or fewer units now do have access to recycling services. Yet, there is still no equivalent service for multi-unit (5+ unit) buildings.</p>

      <p>In order to provide recycling services to tenants, landlords in multiunit buildings must contract with a private recycling hauler, and it costs extra money on top of the solid waste disposal fees they already pay. Since the multi-unit recycling ordinance is not enforced, most multiunit landlords opt not to provide recycling services to their tenants. And since the city does not enforce the Burke-Hansen law, there is no channel for multi-unit dwellers to report a lack of recycling services in their building. Thus, it is very hard to determine how much recycling <em>isn&#039;t</em> happening.</p>

      <h2>What will you do with the data?</h2>
      <p>The data will help us to visualize reports of recycling noncompliance and provide a hub for residents of multi-unit buildings and other Chicago residents to have a collective voice in favor of more comprehensive recycling services. Our group plans to use the visualizations as a tool for advocacy and to push for the strengthening and enforcement of the Burke-Hansen Ordinance.</p>

      <h2>How can I help?</h2>

      <p>You can report your building if it does not have recycling.</p>
      <p><a href='/' class='btn btn-primary'>Report your building</a></p>

      <h3>Get Involved</h3>
      <p>You can also visit our <a href="/get-involved">Get Involved</a> page. There you can write a letter to your alderman and tell them to push the city to enforce the recycling law. You can also find out where to recycle if your building does not provide recycling services.</p>
    </div>

    <div id="static_page_sidebar" class="col-sm-4">
      <% include _sidebar_blocks/press %>
      <% include _sidebar_blocks/mc_signup_form %>
    </div>
  </div>
</div>

<div class="container">
  <% include _colophon %>
</div>
<% include _footer %>
