<% include _header %>

<div class="container page-static">
  
  <div class="row">
    <div id='static_page_main' class="col-sm-8">

      <h1>Tell Your Alderman That Recycling Matters!</h1>

      <p>Many Chicagoans live in buildings with 5 or more residential units do not have access to recycling services. The city of Chicago must enforce the multiunit recycling law so that landlords will provide recycling services to their tenants.</p>
       
      <p>In order to address your message to the appropriate alderman, please enter your <strong>Chicago street address</strong> below:</p>

      <form action="" class="form-inline">
        <label for="address" class='sr-only'>Your Chicago Address</label>
        <input type="text" id='address' name='address' class='form-control' placeholder='Your Chicago Address'>
        <input type="submit" id='submit' value='Go' class='btn btn-primary'>
      </form>
    </div>

    <div id="static_page_sidebar" class="col-sm-4">
      <!-- ... -->
    </div>
  </div>


</div>

<% include _footer %>