<% include _header %>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '755978994498142',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container page-static">
  <div class="row">
    <div id='static_page_main' class="col-sm-8">

      <p>Besides <a href='/' title='Report Your Building'>reporting your building</a>, there are many ways to promote and participate in recycling in your 5+-unit building:</p>

      <h3>Contact your alderman</h3>

      <p>Contact your alderman and tell them you want the city to enforce the existing recycling laws.</p>

      <p>
        <a href="/contact-your-alderman" class="btn btn-primary">Take Action</a>
      </p>

      <h3>Start your own program</h3>

      <p>View the City of Chicago's guide to <a href='http://www.cityofchicago.org/city/en/depts/streets/supp_info/recycling1/muti-unit_residentialrecycling5stepprocess.html'>starting a recycling program</a> in your building.</p>

      <h3>Drop it off</h3>

      <p>Take your recycling to <a href='http://www.chicagorecycling.org/dropoff.htm'>one of the city's drop-off centers.</a></p>

      <div>
        <h3>Share this site with your friends</h3>
        <div class="social-links">
	        <div class="fb-share-button share-button" data-href="http://mybuildingdoesntrecycle.com" data-layout="button_count"></div>
          <div class="twitter-share-wrapper share-button">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mybuildingdoesntrecycle.com" data-text="Hey Chicago! Does your building provide adequate recycling?">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div id='static_page_sidebar' class="col-sm-4">
      <% include _sidebar_blocks/learn_more %>
      <% include _sidebar_blocks/mc_signup_form %>
    </div>
  </div>
</div>

<div class="container">
  <% include _colophon %>
</div>
<% include _footer %>
