<% include _header %>

  <div class="row">
    <div id='static_page_main' class="col-sm-8 col-md-6 col-md-offset-1">
      <h2>Get Involved</h2>
      <p>Besides <a href='/' title='Report Your Building'>reporting your building</a>, there are many ways to promote and participate in recycling in your 5+-unit building:</p>
      <ul>
      <li><p>View the City of Chicago's guide to <a href='http://www.cityofchicago.org/city/en/depts/streets/supp_info/recycling1/muti-unit_residentialrecycling5stepprocess.html'>starting a recycling program</a> in your building.</p></li>

      <li><p>Take your recycling to <a href='http://www.chicagorecycling.org/dropoff.htm'>one of the city's drop-off centers.</a></p></li>
      
      <li><p>Share this site with your friends</p>
      <p class="social-links">
        <a href='#' class='btn btn-primary'>
          <i class="fa fa-facebook"></i>
          Facebook
        </a>
        <a href="#" class='btn btn-primary'>
          <i class="fa fa-twitter"></i>
          Twitter
        </a>
      </p></li>
      </ul>
    </div>
    
    <div id='static_page_sidebar' class="col-sm-4 col-md-4">
      <% include _mailinglist %>
    </div>
  </div>

<% include _footer %>