<%- include ("_header") %>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '755978994498142',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container page-static">
  <div class="row">
    <div id='static_page_main'>
      <%- include ("../config/getinvolved.ejs") %>
    </div>
  </div>
</div>

<div class="container">
  <%- include ("_colophon") %>
</div>
<%- include ("_footer") %>
