<% include _header %>

  <div class="row">
    <div id='static_page_main' class="col-sm-8">
      <div class="well">
        <p style='font-style:italic'>&lt;&lt;&lt;Before releasing the site, I'd like to have a pland for what we are asking for in terms of policy change. I will have to do some research to figure out what kind of request to make, whom to make it to, and how to make it. Ultimately, I'd like to request further action from people on this page, like sign a petition, contact an alderman, etc. This action would be to provide support for a specific policy change we are pushing for.&gt;&gt;&gt;</p>
        
        <p><a href='#'>Sign this petition to your alderman</a></p>
        <p><a href='#'>Sign this petition to the Head of the Department of Streets and Sanitation</a></p>
        <p><a href='#'>Read our proposal for a new, tougher high-density recycling law</a></p>
        <p><a href='#'>Add your name to support our proposal</a></p>
      </div>
      
      <p>Besides <a href='/' title='Report Your Building'>reporting your building</a>, there are many ways to promote and participate in recycling in your 5+-unit building:</p>
      
      <p><a href='#'>Start a recycling program</a> in your building.</p>

      <p>Take your recycling to <a href='#'>one of the city's drop-off centers.</a></p>
      
      <p>Share this site with your friends</p>
      <p class="social-links">
        <a href='#' class='btn icon-facebook-sign icon-large'>
          Facebook
        </a>
        <a href="#" class='btn icon-twitter-sign icon-large'>
          Twitter
        </a>
      </p>
    </div>
    
    <div id='static_page_sidebar' class="col-sm-4">
      <% include _mailinglist %>
    </div>
  </div>

<% include _footer %>