<% include _header %>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '755978994498142',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container page-static">
  <div class="row">
    <div id='static_page_main' class="col-sm-8">
      
      <p>Besides <a href='/' title='Report Your Building'>reporting your building</a>, there are many ways to promote and participate in recycling in your 5+-unit building:</p>
      
      <h3>Contact your alderman</h3>

      <p>Email or call your alderman and tell them you want the city to enforce the existing recycling laws. The city provides a <a href='https://chicago.legistar.com/People.aspx' target='_blank'>sortable list of aldermen</a> and their wards. If you don't know which ward you live in, you can input your address and search for your ward.</p>

      <p>Need ideas for what to write to your alderman? Below is a sample letter that you can copy.</p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#letterExample" aria-expanded="false" aria-controls="letterExample">
        View a sample letter to your Alderman
      </button>
      <div class="collapse" id="letterExample">
        <div class="well">
          <p>Dear Alderman _________,</p>

        <p>
          It is time for Chicago to live up to its claims of being a green city and take steps to create a truly effective and comprehensive recycling program. For over 20 years, there has been a law on the books (The Chicago High Density Residential and Commercial Source Reduction and Recycling Ordinance) that requires owners, governing associations or condominium boards of buildings with 5 or more units to establish an effective recycling program for their properties. Unfortunately, the city rarely enforces this ordinance, and thus many properties subject to the ordinance are out of compliance and fail to provide recycling services to tenants.
        </p>

        <p>
          Properties subject to the Ordinance account for more than double the waste generated at all Chicago properties and so until these properties are required to recycle, Chicago's recycling program will continue to be incomplete and ineffective. One simple step you could take would be to advocate for the immediate enforcement of the Chicago High Density Residential and Commercial Source Reduction and Recycling Ordinance (The Burke-Hansen Ordinance). The Ordinance mandates that properties are fined $25 to $100 for each day they are out of compliance with the law. The money raised from imposing the fines could be used to pay for a city agent that educates about and enforces the ordinance.
        </p>

        <p>
          The city of Chicago has a long way to go to catch up with other major U.S. cities that offer complete and effective recycling programs. By choosing to enforce a recycling law that has been on the books for decades, the city can take the first step towards building a recycling program that allows all residents to participate. Enforcing the ordinance sends the message that recycling is important to the environmental, economic and reputational well-being of the city and can only serve to make Chicago a truly world class city.
        </p>

        <p>Sincerely,</p>

        <p>Your Name</p>
        <p>Your Address</p>
        </div>
      </div>

      <h3>Start your own program</h3>

      <p>View the City of Chicago's guide to <a href='http://www.cityofchicago.org/city/en/depts/streets/supp_info/recycling1/muti-unit_residentialrecycling5stepprocess.html'>starting a recycling program</a> in your building.</p>

      <h3>Drop it off</h3>

      <p>Take your recycling to <a href='http://www.chicagorecycling.org/dropoff.htm'>one of the city's drop-off centers.</a></p>
      
      <div style='display:none'>
        <h3>Share this site with your friends</h3>
        <p class="social-links">
	  <a href='#' class='btn btn-default fa fa-facebook' id="fb-share">
            Facebook
          </a>
          <a href="#" class='btn btn-default fa fa-twitter'>
            Twitter
          </a>
        </p>
      </div>
    </div>
    
    <div id='static_page_sidebar' class="col-sm-4">
      <% include _sidebar_blocks/learn_more %>
      <% include _sidebar_blocks/mc_signup_form %>
    </div>
  </div>
</div>

<div class="container">
  <% include _colophon %>
</div>
<% include _footer %>
