<% include _header %>

  <div class="row">
    <div id='static_page_main' class="col-sm-8">
      
      <p>Besides <a href='/' title='Report Your Building'>reporting your building</a>, there are many ways to promote and participate in recycling in your 5+-unit building:</p>
      
      <p>View the City of Chicago's guide to <a href='http://www.cityofchicago.org/city/en/depts/streets/supp_info/recycling1/muti-unit_residentialrecycling5stepprocess.html'>starting a recycling program</a> in your building.</p>

      <p>Take your recycling to <a href='http://www.chicagorecycling.org/dropoff.htm'>one of the city's drop-off centers.</a></p>
      
      <p>Share this site with your friends</p>
      <p class="social-links">
        <a href='#' class='btn icon-facebook-sign icon-large'>
          Facebook
        </a>
        <a href="#" class='btn icon-twitter-sign icon-large'>
          Twitter
        </a>
      </p>
    </div>
    
    <div id='static_page_sidebar' class="col-sm-4">
      <% include _mailinglist %>
    </div>
  </div>

<% include _footer %>