<% include _header %>

      <div class="col-sm-7 col-md-8">
        <div>
          <div id="map" style="height: 600px"></div>
        </div>
        
      </div>

      <div id='viewContent' class="col-sm-5 col-md-4">
        
        <!-- templates render here -->
      </div>

<% include _footer %>