<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Teko' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Where is My Recycling</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="css/leaflet.css" rel="stylesheet">
    <link href="css/recycling.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-style" role="navigation">
      <a class="navbar-type navbar-brand" href="#">Where is my recycling?</a>
    </nav>

    <div class="row">
      <div id='viewContent' class="col-md-3">
        <!-- templates render here -->
      </div>

      <div class="col-md-9">
        <div>
          <div id="map" style="height: 600px"></div>
        </div>

        <script> var WIMR = {}; // application namespace</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/js/leaflet.js"></script>
        <script src="/js/ejs_production.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
        <script src="/js/map.js"></script>
        <script src="/js/dialog.js"></script>
        <% for (var i=0; i<tplFiles.length; i++) { %>
          <% var tplFile = tplFiles[i] %>
          <script src='/js/view_handlers/<%= tplFile %>'></script>
        <% } %>
        <script src="/js/app.js"></script>
        
      </div>
    </div>
  </body>
</html>
