<% include _header %>
  <div class="container-fluid">
  	<div class="row">
        <div id='mapWrap' class="col-sm-7 col-md-8">
          <div id="map" style="height: 600px">
            <div id="counts" class="hidden leaflet-top leaflet-left well well-sm">
              <p><span id="reportCount"></span> reports for <span id="locationCount"></span> locations</p>
            </div>
          </div>
        </div>
        
        <div id='viewWrapper' class="col-sm-5 col-md-4">
          
          <div id="viewContent">
            <!-- templates render here -->
          </div>
          <% include _colophon %>
                
        </div>
  	</div>
  </div>
<% include _footer %>