<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ChicagoRecyclingSucks.com</title>

        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="css/leaflet.css" rel="stylesheet">
        <link href="css/recycling.css" rel="stylesheet">


    </head>
    <body>
        <div class="container">

            <nav class="navbar navbar-default" role="navigation">
                <a class="navbar-brand" href="#">ChicagoRecyclingSucks.com</a>
            </nav>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#getOnMapModal" id="centerContent">
                Get On The Map
            </button>
            <div class="col-sm-12 col-lg-8 col-lg-offset-2">
                <div id="map" style="height: 500px"></div>
            </div>
        </div>

        <script src="js/leaflet.js"></script>

        <script>
            var map = L.map('map').setView([41.881, -87.629], 11);

            L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                id: 'scottbeslow.ijk19b6c'
            }).addTo(map);

    		L.marker([41.881, -87.629]).addTo(map)
                .bindPopup("2121 N. Nowhere<br>No Recyling");

        </script>

        <!-- Button trigger modal -->

        <div class="modal fade" id="getOnMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Get On the Map</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip" placeholder="Zip" maxlength="5" size="5">
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>My landlord provides recycling</option>
                                    <option>My building has blue bins</option>
                                    <option>There is no recycling in my building</option>
                                    <option>There is a recyling building to get to, but it is not easy to use</option>
                                    <option>There is a recycling bin at my building, but it doesn't have enough space</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Get On the Map</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
