<% include _header %>
<div class="container">
    <div class="row">
        <div class="com-sm-8">
            <h3>Press</h3>
                <p>
                    <a target="_blank" href="">
                        Alderman Proposes Canceling Free Trash Pickup to Apartment Buildings
                    </a>
                    <br>
                    <span class="quiet">by Rachel Cromidas in <strong>Chicagoist</strong> | June 17, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="">
                        Website Targets Chicago Landlords, Condos Skirting Recycling Law
                    </a>
                    <br>
                    <span class="quiet">by Melissa Harris in the <strong>Chicago Tribune</strong> | April 24, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="">
                        Big Apartment Buildings Not Recycling and City Doesn’t Really Care 
                    </a>
                    <br>
                    <span class="quiet">by Jen Sabella in <strong>DNAinfo Chicago</strong> | April 20, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="">
                        Why Apartments are the Blind Spot in Chicago’s Recycling Program
                    </a>
                    <br>
                    <span class="quiet">by Chris Bentley in <strong>WBEZ Curious City</strong> | April 15, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="">
                        Hacking for the Planet
                    </a>
                    <br>
                    <span class="quiet">by Eric T. Halvorson in <strong>Contributoria</strong> | March 2015</span>
                </p>
                <p>
                    <a target="_blank" href="">
                        Univ. Designer Creates Recycling Website
                    </a>
                    <br>
                    <span class="quiet">by Isaac Easton in <strong>The Chicago Maroon</strong> | February 13, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="">
                        Reducing, Reusing but Not Recycling
                    </a>
                    <br>
                    <span class="quiet">by Samantha Sartori in the <strong>Loyola Phoenix</strong> | February 11, 2015</span>
                </p>
              <p>
                <a target="_blank" href="https://soundcloud.com/techshift/website-holds-building-owners-accountable-on-recycling">
                  Website Holds Building Owners Accountable on Recycling (Audio)      
                </a>
                <br>
                <span class="quiet">Claire Micklin interviewed by Justin Kaufmann on <strong>WBEZ</strong> Afternoon Shift 
                | February 2, 2015</span>
              </p>

              <p>
                <a target="_blank" href="http://www.mikenowak.net/podcasts/?p=episode&name=2015-02-01_2015-02-01_2015-01-31_claire_micklin.mp3">
                  My Building Doesn't Recycle: An Interview with App Creator Claire Micklin (Audio)      
                </a>
                <br>
                <span class="quiet">Claire Micklin interviewed by Mike Nowak on <strong>The Mike Nowak Show</strong> 
                | February 1, 2015</span>
              </p>

              <p>
                <a target="_blank" href="http://www.dnainfo.com/chicago/20150130/river-north/website-wants-know-if-your-apartment-building-doesnt-have-recycling">
                  Does Your Apartment Have Recycling? If Not, It's Illegal
                </a>
                <br>
                <span class="quiet">by Tanveer Ali in <strong>DNAinfo Chicago</strong>
                | January 30, 2015</span>
              </p>
        </div>
        <div class="col-sm-4">
            <% include _sidebar_blocks/mc_signup_form %>
        </div>
    </div>
</div>
<div class="container">
    <% include _colophon %>
</div>

<% include _footer %>