<% include _header %>
<div class="container">
    <div class="row">
        <div class="com-sm-8 col-lg-8">
            <h1 class="page-header">Press</h1>
            <p>
              We have been lucky enough to be covered by several media outlets, including NBC5 Chicago, The Chicago Tribune, and NPR (WBEZ Chicago).
            </p>
              <div class="well">
                <div class="embed-responsive embed-responsive-16by9">
                  <script type="text/javascript" charset="UTF-8" src="http://www.nbcchicago.com/portableplayer/?cmsID=363010251&videoID=Fp6gXMB_Y7ys&origin=nbcchicago.com&sec=news&subsec=local&width=600&height=360"></script>
                </div>
                <a href="http://www.nbcchicago.com/news/local/Chicago-Apartment-Residents-Recycle-But-Buildings-Dont-Provide-it-363008881.html">Chicago Apartment Residents Say They Want to Recycle, But Buildings Don’t Provide It</a>
                <br>
                <span class="quiet">Chris Coffey on <strong>NBC5 Chicago</strong> | December 18, 2015</span>
              </div>
                <p>
                    <a target="_blank" href="http://chicagoist.com/2015/06/17/alderman_proposes_canceling_citys_f.php">
                        Alderman Proposes Canceling Free Trash Pickup to Apartment Buildings
                    </a>
                    <br>
                    <span class="quiet">by Rachel Cromidas in <strong>Chicagoist</strong> | June 17, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="http://www.chicagotribune.com/business/ct-confidential-recycling-shaming-0426-biz-20150424-column.html">
                        Website Targets Chicago Landlords, Condos Skirting Recycling Law
                    </a>
                    <br>
                    <span class="quiet">by Melissa Harris in the <strong>Chicago Tribune</strong> | April 24, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="http://www.dnainfo.com/chicago/20150420/downtown/big-apartment-buildings-not-recyling-city-doesnt-really-care-report">
                        Big Apartment Buildings Not Recycling and City Doesn’t Really Care
                    </a>
                    <br>
                    <span class="quiet">by Jen Sabella in <strong>DNAinfo Chicago</strong> | April 20, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="http://www.wbez.org/series/curious-city/why-apartments-are-blind-spot-chicagos-recycling-program-111883">
                        Why Apartments are the Blind Spot in Chicago’s Recycling Program
                    </a>
                    <br>
                    <span class="quiet">by Chris Bentley in <strong>WBEZ Curious City</strong> | April 15, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="https://contributoria.com/issue/2015-03/54b327cf43fb89c564000145">
                        Hacking for the Planet
                    </a>
                    <br>
                    <span class="quiet">by Eric T. Halvorson in <strong>Contributoria</strong> | March 2015</span>
                </p>
                <p>
                    <a target="_blank" href="http://chicagomaroon.com/2015/02/13/univ-designer-creates-recycling-website/">
                        Univ. Designer Creates Recycling Website
                    </a>
                    <br>
                    <span class="quiet">by Isaac Easton in <strong>The Chicago Maroon</strong> | February 13, 2015</span>
                </p>
                <p>
                    <a target="_blank" href="http://www.loyolaphoenix.com/reducing-reusing-but-not-recycling">
                        Reducing, Reusing but Not Recycling
                    </a>
                    <br>
                    <span class="quiet">by Samantha Sartori in the <strong>Loyola Phoenix</strong> | February 11, 2015</span>
                </p>
              <p>
                <a target="_blank" href="https://soundcloud.com/techshift/website-holds-building-owners-accountable-on-recycling">
                  Website Holds Building Owners Accountable on Recycling (Audio)
                </a>
                <br>
                <span class="quiet">Claire Micklin interviewed by Justin Kaufmann on <strong>WBEZ</strong> Afternoon Shift
                | February 2, 2015</span>
              </p>

              <p>
                <a target="_blank" href="http://www.mikenowak.net/podcasts/?p=episode&name=2015-02-01_2015-02-01_2015-01-31_claire_micklin.mp3">
                  My Building Doesn't Recycle: An Interview with App Creator Claire Micklin (Audio)
                </a>
                <br>
                <span class="quiet">Claire Micklin interviewed by Mike Nowak on <strong>The Mike Nowak Show</strong>
                | February 1, 2015</span>
              </p>

              <p>
                <a target="_blank" href="http://www.dnainfo.com/chicago/20150130/river-north/website-wants-know-if-your-apartment-building-doesnt-have-recycling">
                  Does Your Apartment Have Recycling? If Not, It's Illegal
                </a>
                <br>
                <span class="quiet">by Tanveer Ali in <strong>DNAinfo Chicago</strong> | January 30, 2015</span>
              </p>
        </div>
        <div id="static_page_sidebar" class="col-sm-4 col-lg-4">
            <div>
                <h3>Take Action!</h3>
                <p>
                    Check out our <a href="/get-involved">Get Involved</a>
                    page and learn more about <strong>further actions</strong>
                    to take to <strong>promote multi-unit recycling</strong> in Chicago!</p>
            </div>
            <% include _sidebar_blocks/mc_signup_form %>
        </div>
    </div>
</div>
<div class="container">
    <% include _colophon %>
</div>

<% include _footer %>
