#centerContent {
	text-align: center;
}

.btn #centerContent {
	text-align: center;
}

.navbar-style {
  background-color: #292929;
  border-radius: 0px;
  width: 100%;
  padding: 20px 0 20px 0;
  margin: 0;
  border-style: none;
}

.navbar-type {
  font-family: 'Teko', sans-serif;
  color: #33CCFF;
  font-size: 32px;
  letter-spacing:2px;
  text-transform: uppercase;
}

.btn-style{
  border-radius: 0px;
  float: right;
  border-color: white;
  border-width: 3px;
  background-color: #292929;
}

.clickable {
  cursor: pointer;
}

#viewContent {
	margin-top: 2em;
}

#getOnMapForm .reported-address {
	display: block;
	font-size: large;
	font-weight: bold;
}

#email_form {
	clear: both;
}