p {
	margin: 1em 0;
}

.no-break {
	white-space: nowrap;
}

.quiet {
	color: #666;
	font-size: .9em;
}

#mapWrap {
  padding: 0;
}

#centerContent {
	text-align: center;
}

.btn #centerContent {
	text-align: center;
}

.navbar-style {
  background-color: #258;
  border-radius: 0px;
  width: 100%;
  padding: 20px 0 20px 0;
  margin: 0;
  border-style: none;
}

.navbar-type {
  font-family: 'Teko', sans-serif;
  font-size: 32px;
  letter-spacing:2px;
  line-height: 1;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
	border-radius: 3px;
	color: #def;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #eee;
}

.navbar-default .navbar-nav > li > a.active {
	background-color: #5ac;
	color: #fff;
}

.btn-style{
  border-radius: 0px;
  float: right;
  border-color: white;
  border-width: 3px;
  background-color: #292929;
}

.btn-default {
	background-color: #f1f8ff;
	border: 1px solid #cde;
	color: #258;
}

.btn-default:hover,
.btn-default:active {
	background-color: #def;
	border-color: #abc;
}

.clickable {
  cursor: pointer;
}

a.close-dialog {
	float: right;
	font-size: large;
}

#viewWrapper {
	margin-top: 0;
}

#hey_chicagoans {
	font-size: large;
	font-weight: bold;
	color: #8cf;
}

.blue-highlight {
  color: #8cf;
}

.info-message {
  margin-top: 1em;
  text-align: center;
}

#getOnMapForm .reported-address {
	display: block;
	font-size: large;
	font-weight: bold;
}

#email_form {
	clear: both;
}


#static_page_main {
	padding: 2em;
	font-size: 1em;
}

#static_page_sidebar {
	padding-top: 2em;
}

#static_page_sidebar h4 {
	margin-top: 2em;
}

#next-steps { margin-top: 2em; padding-left:30px; list-style:none; }
li.next-steps { color: #8cf; margin-bottom:1em; }
li.next-steps:before {    
    font-family: 'FontAwesome';
    content: '\f1b8';
    margin:0 5px 0 -22px;
}
li.next-steps > div.inner {
  display: inline;
  color: #333;
}

#colophon {
  color: #777;
  font-size: small;
}

#contact-form {
	padding-bottom: 0.5em;
}

.clear {
  clear: both;
}