<div><%= infoMessage %></div>

<p class="social-links">
  <a href='#' class='facebook'>Facebook</a>
  <a href="#" class='twitter'>Twitter</a>
</p>

<p>
  <div class="form-group">
    Join our mailing list and get project updates.
    <input name='submit_email' type="email" class="form-control">
  </div>
</p>

<a href='/' class='start-over btn btn-default'>Start Over</a>