<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '755978994498142',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<h4 class="info-message text-center"><%= infoMessage %></h4>

<h3 class='blue-highlight'>Now take the next steps:</h3>

<ul id="next-steps">

<li class="next-steps">
  <div class="inner">
    Check out our <a href="/get-involved">Get Involved</a> page and learn about <strong>futher actions</strong> to take to <strong>promote multi-unit recycling</strong> in <%= config.cityname %>!
  </div>
</li>

<!-- Hiding until functional -->
<li class='next-steps'>
  <div class="inner">
    <strong>Share with friends</strong> and help spread the word that <%= config.cityresidentname %>s demand better recycling services!

    <div class="social-links">
      <div class="fb-share-button share-button" data-href="http://mybuildingdoesntrecycle.com" data-layout="button_count"></div>
      <div class="twitter-share-wrapper share-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mybuildingdoesntrecycle.com" data-text="Hey <%= config.cityname %>! Does your building provide adequate recycling?">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</li>
<hr>
