
<h4 class="text-center"><%= infoMessage %></h4>

<h4><strong>Now take the next steps:</strong></h4>

<ul id="next-steps">

<li class="next-steps">
Check out our <a href="/get-involved">Get Involved</a> page and learn about <strong>futher actions</strong> to take to <strong>promote multi-unit recycling</strong> in Chicago!
</li>

<li class='next-steps'>
  <strong>Share with friends</strong> and help spread the word that Chicagoans demand better recycling services!

<p class="social-links">
  <a href='#' class='btn btn-primary fa fa-facebook icon-large'>
    Facebook
  </a>
  <a href="#" class='btn btn-primary fa fa-twitter icon-large'>
    Twitter
  </a>
</p>
</li>

<li class='next-steps'>

  Join our mailing list and get project updates.
  <br />
  <form id='email_form' method='post' action='/contacts.json' class='form-inline'>
    <div class="form-group">
      <input placeholder='Email Address' id='email_address' name='email_address' type="email" class="form-control">
      <input class='btn btn-default' type='submit' value='Send' />
    </div>
    <p class='response'></p>
  </form>

</li>
<hr>
