<h4><%= infoMessage %></h4>

<p>
  <strong>Share with friends</strong> and help spread the word that Chicagoans demand better recycling services!
</p>

<p class="social-links">
  <a href='#' class='btn icon-facebook-sign icon-large'>
    Facebook
  </a>
  <a href="#" class='btn icon-twitter-sign icon-large'>
    
    Twitter
  </a>
</p>

<p>
  <div class="form-group">
    Join our mailing list and get project updates.
    <input name='submit_email' type="email" class="form-control">
  </div>
</p>

<a href='/' class='start-over btn btn-default'>Start Over</a>