<h4><%= infoMessage %></h4>

<p>
  <strong>Share with friends</strong> and help spread the word that Chicagoans demand better recycling services!
</p>

<p class="social-links">
  <a href='#' class='btn fa fa-facebook icon-large'>
    Facebook
  </a>
  <a href="#" class='btn fa fa-twitter icon-large'>
    Twitter
  </a>
</p>

<hr>

<div>
  <p>Join our mailing list and get project updates.</p>

  <form id='email_form' method='post' action='/contacts.json' class='form-inline'>
    <div class="form-group">
      <input placeholder='Email Address' id='email_address' name='email_address' type="email" class="form-control">
      <input class='btn btn-default' type='submit' value='Send' />
    </div>
    <p class='response'></p>
  </form>
</div>

<hr>

<p>
  <a href='/' class='start-over btn btn-default btn-block'>Start Over</a>
</p>