<form role="form" id="searchForm">
  <p id='hey_chicagoans'>Hey Chicagoans!</p>
  <h2 id="searchFormLabel">No recycling in your building?</h2>
  <h3>Tell us about it!</h3>

  <a target='_blank' href='https://docs.google.com/document/d/1WiQrL8nlmBOdywuFgqFrPDokTRhIdFifeo-oCuLIcxc/edit?usp=sharing'>Chicago law</a> requires buildings with 5 or more units to recycle.

  <p>However, the City of Chicago does not enforce this law&mdash;and this leads many landlords NOT to provide recycling services to tenants.</p>

  <p>Add your report to our registry to show that your building does not recycle.</p>

  <p>Your report shows that many buildings are NOT offering recycling and that Chicagoans support stronger recycling laws.</p>

  <div class="form-group">
    <label for="address">Enter your Chicago street address:</label>
    <input name="address" type="text" class="form-control" id="inputAddress" placeholder="Address" />
  </div>
  <div>
    <input type="submit" value="Find my building" class="btn btn-primary btn-block" data-bind='click:search'>
  </div>

  <hr>
</form>
