<form role="form" id="searchForm">
  <p id='hey_chicagoans'>Hey Chicagoans!</p>
  <h2 id="searchFormLabel">No recycling in your building?</h2>
  <h3>Report it!</h3>
  <div class="form-group">
    <label for="address">Enter your Chicago street address:</label>
    <input name="address" type="text" class="form-control" id="inputAddress" placeholder="Address" />
  </div>
  <div>
    <input type="submit" value="Report my building" class="btn btn-primary btn-block" data-bind='click:search'>
  </div>

  <hr>
  <p>Although the Burke-Hansen ordinance requires that buildings with 5 or more units provide recycling services, this city of Chicago chooses not to enforce this law. Thus, many Chicagoans are left with no recycling services.</p>
  <p>By reporting your building, you can help us visualize the scope of this problem in order to mobilize support for a change in city recycling policy.</p>
</form>
