<form role="form" id="searchForm">
  <h3 class='blue-highlight'>Hey Chicagoans!</h3>
  <h2 id="searchFormLabel">No recycling in your building?</h2>
  <h3>Tell us about it!</h3>

  <p><a target='_blank' href='http://www.amlegal.com/nxt/gateway.dll/Illinois/chicago_il/title11utilitiesandenvironmentalprotecti/chapter11-5reductionandrecyclingprogram?f=templates$fn=default.htm$3.0$vid=amlegal:chicago_il$anc=JD_11-5-021'>Chicago law</a> requires buildings with 5 or more residential units to provide recycling services to occupants.</p>

  <p>However, the City of Chicago does not enforce this law&mdash;and this leads many landlords NOT to provide recycling services to tenants.</p>

  <p>Add your report to our registry to show that your building does not recycle.</p>

  <p>Your report shows that many buildings are NOT offering recycling and that Chicagoans support stronger recycling laws.</p>

  <div class="form-group" id="addressField">
    <label for="address">Enter your Chicago street address:</label>
    <input name="address" type="text" class="form-control" id="inputAddress" placeholder="Address" />
  </div>
  <div>
    <input type="submit" value="Find your building" class="btn btn-primary btn-block" data-bind='click:search'>
  </div>
  <p id="status"></p>

  <hr>
</form>
